@import "my_settings";
@import "foundation";

// Global Constraints ---------------------------------------------------
.wrapper {
    @media #{$small} {
        @include grid-row;
    }
}

.content {
    margin-top: $topbar-height + 10px;
}

// Global classes -------------------------------------------------------
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Layout ---------------------------------------------------------------
@import "compass/layout/sticky-footer";
@include sticky-footer(2em, ".wrapper", ".push", "footer");
footer {
    padding-top: 0.5em;
    background-image: url("../img/footer_background.png");

    p {
        text-align: center;
        max-width: none;
	color: $color-blue;
    }
}
