@import "sticky_footer";
@import "my_settings";
@import "foundation";

// Global Constraints ---------------------------------------------------
#wrapper {
    @media #{$small} {
        @include grid-row;
    }
}

.content {
    padding-top: $topbar-height + 10px;
}

// Global classes -------------------------------------------------------
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#footer {
    background-image: url("../img/footer_background.png");

    p {
    	padding: 0em;
	margin: 0em;
        text-align: center;
        max-width: none;
    	color: $color-blue;
    }
}
