// Fonts -----------------------------------------------------------
@font-face {
    font-family: 'Merriweather';
    src: url('/static/fonts/Merriweather/merriweather-bold-webfont.eot');
    src: url('/static/fonts/Merriweather/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Merriweather/merriweather-bold-webfont.woff') format('woff'),
         url('/static/fonts/Merriweather/merriweather-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/Merriweather/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/static/fonts/Merriweather/merriweather-italic-webfont.eot');
    src: url('/static/fonts/Merriweather/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Merriweather/merriweather-italic-webfont.woff') format('woff'),
         url('/static/fonts/Merriweather/merriweather-italic-webfont.ttf') format('truetype'),
         url('/static/fonts/Merriweather/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/static/fonts/Merriweather/merriweather-regular-webfont.eot');
    src: url('/static/fonts/Merriweather/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Merriweather/merriweather-regular-webfont.woff') format('woff'),
         url('/static/fonts/Merriweather/merriweather-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/Merriweather/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volkorn';
    src: url('/static/fonts/Volkorn/vollkorn-bold-webfont.eot');
    src: url('/static/fonts/Volkorn/vollkorn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Volkorn/vollkorn-bold-webfont.woff') format('woff'),
         url('/static/fonts/Volkorn/vollkorn-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/Volkorn/vollkorn-bold-webfont.svg#vollkornbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volkorn';
    src: url('/static/fonts/Volkorn/vollkorn-italic-webfont.eot');
    src: url('/static/fonts/Volkorn/vollkorn-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Volkorn/vollkorn-italic-webfont.woff') format('woff'),
         url('/static/fonts/Volkorn/vollkorn-italic-webfont.ttf') format('truetype'),
         url('/static/fonts/Volkorn/vollkorn-italic-webfont.svg#vollkornitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volkorn';
    src: url('/static/fonts/Volkorn/vollkorn-regular-webfont.eot');
    src: url('/static/fonts/Volkorn/vollkorn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Volkorn/vollkorn-regular-webfont.woff') format('woff'),
         url('/static/fonts/Volkorn/vollkorn-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/Volkorn/vollkorn-regular-webfont.svg#vollkornregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// color palette ----------------------------------------------------
// from https://kuler.adobe.com/1944mustang-color-theme-4817/ -------
$color-black: #000000;
$color-blue: #263248;
$color-grey: #7E8AA2;
$color-white: #FFFFFF;
$color-orange: #FF9800;

// Foundation Settings overrides ------------------------------------
$topbar-bg: $color-blue;
$primary-color: $color-black;
$secondary-color: $color-blue;
$body-font-color: $color-black;
$header-font-family: Volkorn, Helvetica, Arial, sans-serif;
$body-font-family: Merriweather, Helvetica, Arial, sans-serif !default;
