// color palette ----------------------------------------------------
// from https://kuler.adobe.com/1944mustang-color-theme-4817/ -------
$color-black: #000000;
$color-blue: #263248;
$color-grey: #7E8AA2;
$color-white: #FFFFFF;
$color-orange: #FF9800;

// Foundation Settings overrides ------------------------------------
$topbar-bg: $color-blue;
