@import "fonts";

// color palette ----------------------------------------------------
// from https://kuler.adobe.com/1944mustang-color-theme-4817/ -------
$color-black: #000000;
$color-blue: #263248;
$color-grey: #7E8AA2;
$color-white: #FFFFFF;
$color-orange: #FF9800;

// Foundation Settings overrides ------------------------------------
$topbar-bg: $color-blue;
$primary-color: $color-black;
$secondary-color: $color-blue;
$body-font-color: $color-black;
$anchor-font-color: $color-blue;
$anchor-font-color-hover: darken($anchor-font-color, 5%);

$header-font-family: Vollkorn, Helvetica, Arial, sans-serif;
$body-font-family: Merriweather, Helvetica, Arial, sans-serif !default;
