/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

$footer-height: 2em;

/*
 * must declare 0 margins on everything, also for main layout
 * components use padding, not vertical margins (top and bottom) to add
 * spacing, else those margins get added to total height and your footer
 * gets pushed down a bit more, creating vertical scroll bars in the
 * browser
 */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#footer-wrapper-1 {
    min-height: 100%;
}

#footer-wrapper-2 {
    overflow: auto;
    // must be same height as the footer
    padding-bottom: $footer-height;
}

#footer {
    position: relative;
    // negative value of footer height
    margin-top: -$footer-height;
    height: $footer-height;
    clear: both;
}

/*
 * Opera Fix
 * thanks to Maleika (Kohoutec)
 */
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    // thank you Erik J - negate effect of float
    margin-top: -32767px;
}
