@import "template/item_index";

.list-entry {
    font-size: $h5-font-size;
}

.post-title {
    text-align: left;
    float: left;
}

.date {
    @media #{$small-only} {
        visibility: hidden;
    }

    @media #{$medium-up} {
        float: right;
    }
}
