@import "base";

// code and syntax highlighting -----------------------------------------
@import "syntax_highlighting_solarized_light";

pre {
    margin-bottom: 1em;
    padding: 1em;

    overflow: auto;
    // overflow-x: scroll;
    // white-space: pre-wrap;
    background-color: rgba(218,218,218, 0.4)
}

// posts -----------------------------------------------------------------------
.post-info {
    @include grid-row(nest);
    // @include panel(transparentize($body-bg, 0.5));
    margin-bottom: 2em;

    font-size: 80%;

    .ancestors {
        @include grid-column(4);
        a {
            padding-right: 0.5em;
        }
    }

    .date {
        @include grid-column(8, true);
        text-align: right;
        &:before {
            content: "[modified "
        }
        &:after {
            content: "]"
        }
    }
}


.post-title {
    font-weight: bold;
}
