@import "components/fonts";

// color palette ----------------------------------------------------
$color-purple: #2F00FF;
$color-darkpurple: #0A0038;
$color-darklavender: #9E88FF;
$color-lavender: #D7D4FF;
$color-red: #B2004D;
$color-blue: #0096B2;

// Foundation Settings overrides ------------------------------------
$topbar-bg: $color-darkpurple;
$primary-color: $color-purple;
$secondary-color: $color-lavender;
$alert-color: $color-red;
$success-color: $color-blue;

$header-font-family: 'Bree Serif', serif !default;
$body-font-family: 'Lato', sans-serif !default;
