<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$ ~ Ram Raghunathan</title>
    <meta name="description" content="$description$">
    <link rel="author" href="http://cs.cmu.edu/~rraghuna">
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="$stylesheet$" />
    <script src="/js/vendor/custom.modernizr.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="contain-to-grid fixed">
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="/index.html">Ram Raghunathan</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	    <ul class="right">
	      <li><a href="/static/resume.pdf">Resume</a></li>
	    </ul>
	  </section>
	</nav>
      </div>

      <div class="content">
	$body$
      </div>
      <div class="push"></div>
    </div>

    <footer>
      <p><a href="/colophon.html">Colophon</a></p>
    </footer>

    <!-- Scripts -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.topbar.js"></script>

    <!-- Load Foundation JS -->
    <script>
      $$(document).foundation();
    </script>
  </body>
</html>
