<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$ ~ Ram Raghunathan</title>
    <meta name="description" content="$description$">
    <link rel="author" href="http://cs.cmu.edu/~rraghuna">
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="$stylesheet$" />
  </head>


  <body>
    <div class="wrapper">
      <div class="contain-to-grid fixed">
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="/index.html">Ram Raghunathan</a></h1>
	    </li>
	  </ul>

	  <section class="top-bar-section">
	    <ul class="right">
	      <li><a href="posts/index">Posts</a></li>
	      <li><a href="publications/index">Publications</a></li>
	      <li><a href="static/resume.pdf">Resume</a></li>
	      <li><a href="miscellaneous/index">Miscellaneous</a></li>
	    </ul>
	  </section>
	</nav>
      </div>

      <div class="content">
	$body$
      </div>
    </div>

    <div class="push"></div>
    <footer class="hide-on-print">
      <p>Built with <a href="http://jaspervdj.be/hakyll/">Hakyll</a>. Source available on <a href="https://github.com/ramLlama/cmu-website">GitHub</a>. Content reusable under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC BY-SA 3.0</a>.</p>
    </footer>
  </body>
</html>
