<!doctype html>
<html lang="en">
  <head>
    <!-- For sticky footer in IE -->
    <!--[if !IE 7]>
	<style type="text/css">
	  #footer-wrapper {
	      display: table;
	      height: 100%
	  }
	</style>
	<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ram Raghunathan">
    <meta name="description" content="$description$">

    <link type="text/plain" rel="author" href="http://llama.is/humans.txt" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="$stylesheet$" />

    <title>Ram Raghunathan → $title$</title>

    <!-- Use CDNJS for modernizr with local fallback -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>window.Modernizr || document.write('<script src="/static/js/vendor/custom.modernizr.js">\x3C/script>')</script>
  </head>

  <body>
    <div id="footer-wrapper">
      <div class="contain-to-grid fixed">
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">$if(isIndex)$
	      <!-- No menu name for index! -->$else$
	      <h1 id="header-logotype"><a href="/">Ram Raghunathan</a></h1>$endif$
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	    <ul class="right">
	      <li><a href="/about">About</a></li>
	      <li><a href="/posts">Posts</a></li>
	      <li><a href="/contact">Contact</a></li>
	    </ul>
	  </section>
	</nav>
      </div>

      <div id="content">
	$body$
      </div>
    </div>

    <div id="footer">
      <div id="footer-content">
	<p class="footer-text">
	  <a href="/humans.txt"><img src="/static/img/humanstxt-transparent-color.png" /></a>
	  <a href="/colophon">Colophon</a>
	</p>
	<a href="https://plus.google.com/111830490645712666668" rel="publisher"></a>
      </div>
    </div>

    <!-- Scripts -->
    <!-- Use Google for JQuery with local fallback -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery.js">\x3C/script>')</script>

    <!-- Use CDNJS for Foundation with local fallback -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation/foundation.min.js"></script>
    <script>window.Foundation || document.write('<script src="/static/js/foundation/foundation.js">\x3C/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation/foundation.topbar.min.js"></script>
    <script>Foundation.libs.topbar || document.write('<script src="/static/js/foundation/foundation.topbar.js">\x3C/script>')</script>

    <!-- Load Foundation JS -->
    <script>
      $$(document).foundation();
    </script>

    <!-- Load Google Analytics -->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-48093191-1', 'llama.is');
     ga('require', 'linkid', 'linkid.js');
     ga('send', 'pageview');
    </script>
  </body>
</html>
