@import "components/mixins";
@import "settings/global";
@import "foundation";
@import "components/sticky_footer";

// Global Setup ---------------------------------------------------------
body {
    background-image: url("../img/body_background.png");
}

// content settings
#content {
    @include grid-row();
    @include standard-grid();

    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: $footer-height;
}

// Sticky Footer settings
#footer-wrapper {
    @include grid-row();
    @include background-opacity(#e0e0e0, 0.75);
}

#footer {
    background-image: url("../img/footer_background.png");
}

.footer-text {
    padding: 0em;
    margin: 0em;
    text-align: center;
    max-width: none;
    color: $color-blue;
}

// logotype for top bar -------------------------------------------------
#header-logotype {
    font-family: 'Dancing Script', serif;
    font-size: $h3-font-size !important;
}
